@import "tailwindcss" important;

.flex-class {
  display: flex;
  gap: 10px;
}

.flex-class button {
  display: block;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
